<?xml version="1.0" encoding="UTF-8"?>
<resultset>
	<api_version>[% api_version %]</api_version>
	<data_provider>[% data_provider %]</data_provider>
	<data_version>[% data_version %]</data_version>
	[% FOREACH cv IN cvs %]
	<result>	
		<cv>
			<name>[% cv.name %]</name>
			<definition>[% cv.definition %]</definition>
			<version>[% cv.version %]</version>
		</cv>
	</result>
	[% END %]
</resultset>
