<?xml version="1.0" encoding="UTF-8"?>
<resultset>
	<result>	
		<service>
			<name>organisms</name>
			<base_uri>http://flybase.org/gmodrpc/v1.1/organisms</base_uri>
		</service>
	</result>
	<result>	
		<service>
			<name>fulltext</name>
			<base_uri>http://flybase.org/gmodrpc/v1.1/fulltext</base_uri>
		</service>
	</result>
</resultset>